doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/teststyle.css')   
    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    script(src='/javascript/jquery-3.1.1.min.js', type='text/javascript')
    block scripts

  body
  #main
  #container
    #header
      #headerleft 
        div header left
      #headerright
        div headerright
    #content
      #contentleft
        div contentleft
      #contentright
        div contentright
    #footer
      #footerleft
        div footer
      #footerright
        div footerright


block scripts
  script(type='text/javascript', language='javascript')
   $(function() {
     
   })